.AppWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 6px solid rgba(87, 84, 84, 0.712);
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-left-color: orange;
  border-right-color: orange;
}